.Testimonials{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.left-t{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
}
.left-t>:nth-child(1){
    color: #d7337a;
    font-weight: bold;
}
.left-t>:nth-child(2),
.left-t>:nth-child(3){
    font-weight: 500;
    font-size: 2rem;
}
.left-t>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}
.left-t>:nth-child(5){
    color: #d7337a;

}
.right-t{
    flex:1;
    position: relative;
    text-align: center;
    
}
.right-t>img{
    position: relative;
    width: 15rem;
    height: 20rem;
    object-fit: cover;
    right: -5rem;
    top: 2rem;
    background-color: #d3cef2;
    justify-content:center
}
.right-t>:nth-child(1){
   position: absolute;
    width: 15rem;
    height: 20rem;
    border: 2px solid #d7337a;
    background-color: transparent;
    right: 2.8rem;
    top: 0.9rem;
}
.right-t>:nth-child(2){
    position: absolute;
    width: 15rem;height: 19rem;right: 0.6rem;top: 4rem;
    background: var(--bg-gradient);
}
.arrows{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
    position: relative;
    justify-content: center;
    
}
.arrows svg{
    cursor: pointer;
    
}
@media (min-width: 768px) {
    .Testimonials {
      flex-direction: row;
      gap: 1rem;
    }
  
    .left-t {
      flex: 1;
      text-align: left;
    }
  
    .right-t {
      position: relative;
      flex: 1;
      text-align: right;
    
    }
  
    .right-t > img {
      position: absolute;
      width: 15rem;
      height: 20rem;
      right: 8rem;
      margin-top: 0;
    }
  
    .arrows {
      position: absolute;
      bottom: 1rem;
      left: 6rem;
      transform: translateX(-50%);
    }

    .right-t>:nth-child(1){
        position: absolute;
        width: 15rem;
        height: 20rem;
        border: 2px solid #d7337a;
        background-color: transparent;
        right: 9rem;
        top: 0.9rem;
    }
    .right-t>:nth-child(2){
        position: absolute;
        width: 15rem;height: 19rem;right: 7rem;top: 4rem;
        background: var(--bg-gradient);
    }
  }
